*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  background-color: rgb(34, 34, 34);
  color: white!important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 1200px) {
  body {
    margin: 0 200px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1119px) {
  body {
    margin: 0 50px;
  }
}

/* Phone Layout*/
@media only screen and (max-width: 599px) {
  body {
    margin: 0 10px;
  }

  .bar-supplies, .cocktails {
    flex-basis: 100%!important;
  }

  .cocktails {
    display: none;
  }

  .phone-nav-bar {
    display: flex!important;
    height: 10vh;
  }

  .headerContainer {
    height: 15vh!important;
  }

  .cardList {
    height: 75vh!important;
  }
}

.phone-nav-bar {
  display: none;
}

.bar-supplies, .cocktails {
  flex-basis: 50%;
}

.phone-nav-bar i {
  font-size: 3em;
}

.headerContainer {
  height: 15vh;
}

.cardList {
  height: 85vh;
}

ul, li {
  padding: 0;
  margin: 0;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  text-decoration: none;
}

#ingredientDrawer, #cocktailDrawer  {
  -webkit-animation-duration: 0.5s; /* Safari 4+ */
  -moz-animation-duration:    0.5s; /* Fx 5+ */
  -o-animation-duration:      0.5s; /* Opera 12+ */
  animation-duration:         0.5s; /* IE 10+, Fx 29+ */
}

.push-up {
  z-index: 10;
}

.clickable {
  cursor: pointer;
}

.button {
  font-size: 1em;
  border-bottom: 1px solid transparent;
  transition: all 0.25s linear;
}

.delete-button {
  color: #FD295D;
}

.delete-button:hover {
  border-color: #FD295D;
}

.default-button {
  color: rgb(153, 153, 153);
}

.default-button:hover  {
  border-color: rgb(153, 153, 153);
}

.grey-text {
  color: rgb(153, 153, 153)!important;
}

.white-text {
  color: white!important
}

.large-text {
  font-size: 2em;
}

.normal-text {
  font-size: 1.2em;
}

.text {
  margin: 0!important;
  font-family: 'Lato', sans-serif;
}

.bold {
  font-weight: bold;
}

.hover-underline {
  text-decoration: none;
}

.hover-underline:hover {
  cursor: pointer;
  text-decoration: underline;
}

.title {
  font-size: 2.5em;
  font-family: 'Arimo', sans-serif!important;
  font-weight: bold;
}

.close-button {
  font-size: 2em!important;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}

.close-button:hover {
  color: grey;
}

.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
}

.half-width {
  width: 50%;
  display: inline-block;
}

.block {
  display: block;
}

.drawer {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  background-color: rgb(47, 47, 49);
  -webkit-box-shadow: -19px 0px 29px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: -19px 0px 29px -3px rgba(0,0,0,0.75);
  box-shadow: -19px 0px 29px -3px rgba(0,0,0,0.75);
}

.jumbotron {
  height: 10vh;
}

.card {
  width: 100%;
  border: 1px solid grey;
  margin: 10px 0px;
  box-shadow: 2px 2px 2px grey;
}

.center-text {
  text-align: center;
}

.picture-container-small {
  width: 150px;
  height: 200px
}

.button-close {
  background-color: none!important;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.error-text {
  color: red;
}

.empty-data-container {
  margin: 50px 0;
  text-align: center;
}

.empty-text-container p {
  color: grey;
  font-style: italic;
}
